.home_page {
  display: flex;
  flex-direction: column;
}
.continer .category_top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.continer .category_top div {
  display: flex;
  flex-direction: row;
}
.continer .category_top span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}
.continer .category_top a {
  margin-left: 30px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}
.continer .category_top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}
/* page_box */
.continer .page_box {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.continer .page_box .page_main {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.continer .page_main .page_dot {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.page_main img {
  cursor: pointer;
}
.continer .page_dot .dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 50%;
}
.continer .page_dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}
.continer .dot div {
  width: 4px;
  height: 4px;
  background: rgba(17, 33, 55, 1);
  border-radius: 50%;
}
.continer .next_prev_box {
  width: 25px;
}
.continer .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/* price and review */
.continer .product_context_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.continer .product_title {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
.continer .product_context_box .product_desc {
  height: 56px;
  overflow: hidden;
  margin-top: 7px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.continer .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.continer .review_box img {
  margin-right: 5px;
}
.continer .review_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.continer .product_context_box .price_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.continer .price_box strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.continer .price_box span {
  margin-left: 10px;
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}
/* header */
.continer .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header_frame .continer {
  flex-direction: row;
}
.header_frame .continer .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url(../image/icons/header_bg.svg);
  border-radius: 5px;
}
.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
}
.header_frame .header_content p {
  margin-top: 10px;
  color: #ffffff;

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

/* header_right */
.header_frame .continer .header_right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background: rgba(242, 242, 242, 1);
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_frame .box_left span {
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header_frame .box_left p {
  margin: 10px 0;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}
.header_frame .box_left a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
/* .header_frame .box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: rgba(4, 30, 66, 1);
} */
.header_frame .header_box .box_right {
  width: 50%;
}
.header_frame .box_right img {
  width: 100%;
  height: 100%;
}
/* Service_Frame */
.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.service_frame .continer {
  flex-direction: row;
}
.service_frame .continer .service_box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service_frame .service_content span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.service_frame .service_content p {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
/* SHOP CATEGORY */

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .continer {
  flex-direction: column;
}

.shop_category_frame .continer .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #dfdfdf;
  border-radius: 150px;
}
.shop_category_frame .category_box span {
  margin-top: 15px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
/* Top selling frame */
.top_selling_frame {
  position: relative;
  margin-top: 62px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.top_selling_frame .continer {
  flex-direction: column;
}
.top_selling_frame .continer .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top_selling_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;
  display: flex;
  flex-direction: row;
}
.top_selling_frame .product_boxes .product_box {
  width: 306px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.top_selling_frame .product_box .product_img_box {
  width: 100%;
  height: 280px;
}
.top_selling_frame .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.top_selling_frame .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.top_selling_frame .product_img_box:hover .hover_box {
  display: flex;
}
/* home page adv */
.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5edff;
  color: rgba(0, 83, 246, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
/* Spec product */
.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.spec_product_frame .continer {
  flex-direction: column;
}
.spec_product_frame .continer .spec_product_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
}
.spec_product_frame .spec_product_wrapper .big_product_box {
  width: 664px;
  height: 368px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(243, 245, 246, 1);
  position: relative;
}
.spec_product_frame .big_product_box .big_product_text {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.spec_product_frame .big_product_text span {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.spec_product_frame .big_product_text strong {
  margin: 7px 0;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}
.spec_product_frame .big_product_text a {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.spec_product_frame .big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.spec_product_frame .spec_product_wrapper .small_product_box {
  margin-left: 30px;
  width: 620px;
  height: 368px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.spec_product_frame .small_product_box .small_pro_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgba(243, 245, 246, 1);
}
.spec_product_frame .small_pro_box:nth-child(odd) {
  margin-right: 15px;
}
.spec_product_frame .small_pro_box .small_pro_text {
  display: flex;
  flex-direction: column;
}
.spec_product_frame .small_pro_text strong {
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.spec_product_frame .small_pro_text span {
  color: rgba(98, 105, 116, 1);
  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}
.spec_product_frame .small_pro_box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
/* TV and Home */

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.tv_frame .continer {
  flex-direction: column;
}
.tv_frame .continer .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv_frame .tv_wrapper .tv_product_boxs {
  width: 1280px;
  height: 452px;
  display: flex;
  flex-direction: row;
}
.tv_frame .tv_product_boxs .tv_product_box {
  width: 260px;
  height: 452;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tv_frame .tv_product_box .product_img {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Event Frame */
.home_page .event_frame {
  margin-top: 90px;
  width: 100%;
  height: 632px;
  display: flex;
  justify-content: center;
  background-image: url(/public/image/icons/event_bg.png);
  background-size: cover;
  position: relative;
}
.event_frame .continer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.event_frame .continer .top_deal_time {
  width: 340px;
  height: auto;
  flex-direction: column;
}
.event_frame .deal_time .timer_box {
  width: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.event_frame .top_deal_time span {
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  margin-top: 30px;
}
.event_frame .deal_time .timess {
  color: rgba(255, 255, 255, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.event_frame .top_deal_time .deal_time {
  display: flex;
  flex-direction: row;
}
.event_frame .deal_time span {
  margin-right: 30px;
}
.event_frame .top_deal_time a {
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #dfdfdf;
  margin-top: 30px;
  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
/* deal_item */
.event_frame .top_deal_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event_frame .top_deal_item .product_boxes {
  position: relative;
  width: 930px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.event_frame .top_deal_item .product_boxes .product_box {
  width: 205px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 6px;
}
.event_frame .top_deal_item .product_box .product_img_box {
  width: 195px;
  height: 220px;
}
.event_frame .top_deal_item .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.event_frame .top_deal_item .hover_box button {
  margin-bottom: 10px;
  width: 195px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.event_frame .top_deal_item .product_img_box:hover .hover_box {
  display: flex;
}
.event_frame .white_svg {
  filter: brightness(0) invert(1);
}
